.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.applogo {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    text-decoration: none;
    color: var(--clr-primary-400);
}

.form {
    background-color: #857d7d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 27%;
    min-height: 70%;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 64em) {
        width: 50%;
    }

    @media (max-width: 48em) {
        width: 100%;
        box-shadow: none;
    }
}

.forgotPasswordForm {
    min-height: 50%;
}

.title {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 1rem;
}

.infoText {
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.link {
    font-size: 0.8rem;
    color: #5eb4c8;
    align-self: flex-end;
    transition: all 0.5s;

    &:hover {
        color: #010606;
    }
}

.forgotPassword {
    color: #5eb4c8;
    align-self: flex-end;
    transition: all 0.5s;
    font-size: 0.8rem;

    &:hover {
        color: #010606;
    }
}